body {
  padding: 100px;
}

.no-suggestions {
  position: absolute;
  color: #999;
  padding: 8px;
}

.drop-down {
  position: absolute;
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 400px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
  background-color: lightgray;
}

.drop-down li {
  padding: 3px 5px;
}

.drop-down>.active,
.drop-down li:hover {
  background-color: darkgray;
  cursor: pointer;
  font-weight: 700;
}

.drop-down li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.typeahead {
  margin: 3px;
  width: 90%;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: left;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 3px;
}

.search-box input {
  position: relative;
  border: 1px solid #999;
  padding: 3px;
  width: 100%;
}

.selections {
  display: flex;
  align-items: center;
  justify-content: left;
  max-width: 50%;
  flex-wrap: wrap;
}

.selection {
  border: 1px solid silver;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: nowrap;
  padding: 0px 3px;
}

ul {
  padding: 0;
  margin: 0;
}

.search-box li {
  list-style: none;
  display: inline-block;
  padding: 0 3px 0 0;
}


